<div class="container">
  <div class="row">
    <p class="medium-text main-color">Facilitador: Gonzalo Mena F.</p>
    <div class="valign-wrapper">
      <div class="col s4 m2 center-align valign">
        <img src="assets/images/gonzalomena.jpeg" alt="" class="circle responsive-img">
      </div>
      <div class="col s8 m10">
        <p>Gerente Elkare Consultora y Prof. De Emprendimiento e Innovación Duoc UC</p>
        <p>Especialidad en facilitar el acceso de emprendedores locales y extranjeros al ecosistema chileno,
          capacitarlos
          y conectarlos con empresas para que generen negocios</p>
        <p>Originario de Viña del Mar, Chile</p>
        <p>Estudió Administración de Empresas y cuenta con dos Diplomados en Negocios y Tecnologia, y Emprendimiento
          Corporativo. Lleva
          10 años siendo emprendedor en distintos rubros (Derecho, Turismo, Diseño, entre otros). Fan de la
          Colaboración y el Emprendimiento como herramientas de igualacion social y destructoras de viejos paradigmas.
          Se ha
          dedicado
          a empoderar, conectar y potenciar a emprendedores en su camino al éxito</p>
      </div>
    </div>
  </div>
</div>