<header><sw-app-menu></sw-app-menu></header>
<main>
  <div class="container white-text">
    <div class="row">
      <div class="input-field col s12 m4 nopad">
        <input
          type="text"
          [(ngModel)]="search"
          (ngModelChange)="searchUser()"
          class="form-control"
          [placeholder]="'ASSISTANTS.SEARCH' | translate"
        />
      </div>
      <div class="input-field col s10 m4">
        <select [(ngModel)]="filterValue" (ngModelChange)="filterByStatus()">
          <option value="all" selected>{{'ASSISTANTS.ALL' | translate}}</option>
          <optgroup label="{{'ASSISTANTS.FRIDAY' | translate}}">
            <option value="checkin">{{'ASSISTANTS.CHECKIN' | translate}}</option>
            <option value="fridayDinner">{{'ASSISTANTS.DINNER' | translate}}</option>
          </optgroup>
          <optgroup label="{{'ASSISTANTS.SATURDAY' | translate}}">
            <option value="secondCheckin">{{'ASSISTANTS.CHECKIN' | translate}}</option>
            <option value="saturdayBreakfast">{{'ASSISTANTS.BREAKFAST' | translate}}</option>
            <option value="saturdayLunch">{{'ASSISTANTS.LUNCH' | translate}}</option>
            <option value="saturdayDinner">{{'ASSISTANTS.DINNER' | translate}}</option>
          </optgroup>
          <optgroup label="{{'ASSISTANTS.SUNDAY' | translate}}">
            <option value="thirdCheckin">{{'ASSISTANTS.CHECKIN' | translate}}</option>
            <option value="sundayBreakfast">{{'ASSISTANTS.BREAKFAST' | translate}}</option>
            <option value="sundayLunch">{{'ASSISTANTS.LUNCH' | translate}}</option>
          </optgroup>
        </select>
      </div>
      <div [hidden]="filterValue === 'all'" class="filter-checkbox-container col s2 m4">
        <label>
          <input
            id="filter-checkbox"
            type="checkbox"
            (change)="filterByStatus()"
          />
          <span></span>
        </label>
      </div>
    </div>
    <table class="responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'ASSISTANTS.NAME' | translate }}</th>
          <th>{{'ASSISTANTS.FRIDAY' | translate}}</th>
          <th>{{'ASSISTANTS.SATURDAY' | translate}}</th>
          <th>{{'ASSISTANTS.SUNDAY' | translate}}</th>
          <th>{{'ASSISTANTS.SOUVENIRS' | translate}}</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let assistant of assistants; let i = index">
          <ng-container *ngIf="assistant.visible">
            <td>{{i + 1}}</td>
            <td>{{ assistant.name }}</td>
            <td>
              <div class="row">
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.checkin"
                    (change)="updateAssistant(assistant, 'checkin')"
                  />
                  <span>{{'ASSISTANTS.CHECKIN' | translate}}</span>
                </label>
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.fridayDinner"
                    (change)="updateAssistant(assistant, 'fridayDinner')"
                  />
                  <span>{{'ASSISTANTS.DINNER' | translate}}</span>
                </label>
              </div>
            </td>
            <td>
              <div class="row">
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.secondCheckin"
                    (change)="updateAssistant(assistant, 'secondCheckin')"
                  />
                  <span>{{'ASSISTANTS.CHECKIN' | translate}}</span>
                </label>
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.saturdayBreakfast"
                    (change)="updateAssistant(assistant, 'saturdayBreakfast')"
                  />
                  <span>{{'ASSISTANTS.BREAKFAST' | translate}}</span>
                </label>
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.saturdayLunch"
                    (change)="updateAssistant(assistant, 'saturdayLunch')"
                  />
                  <span>{{'ASSISTANTS.LUNCH' | translate}}</span>
                </label>
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.saturdayDinner"
                    (change)="updateAssistant(assistant, 'saturdayDinner')"
                  />
                  <span>{{'ASSISTANTS.DINNER' | translate}}</span>
                </label>
              </div>
            </td>
            <td>
              <div class="row">
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.thirdCheckin"
                    (change)="updateAssistant(assistant, 'thirdCheckin')"
                  />
                  <span>{{'ASSISTANTS.CHECKIN' | translate}}</span>
                </label>
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.sundayBreakfast"
                    (change)="updateAssistant(assistant, 'sundayBreakfast')"
                  />
                  <span>{{'ASSISTANTS.BREAKFAST' | translate}}</span>
                </label>
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.sundayLunch"
                    (change)="updateAssistant(assistant, 'sundayLunch')"
                  />
                  <span>{{'ASSISTANTS.LUNCH' | translate}}</span>
                </label>
              </div>
            </td>
            <td>
              <div class="row">
                <label class="col s12">
                  <input
                    type="checkbox"
                    [checked]="assistant.souvenirsCheckin"
                    (change)="updateAssistant(assistant, 'souvenirsCheckin')"
                  />
                  <span>{{'ASSISTANTS.SOUVENIRS' | translate}}</span>
                </label>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</main>
