<div id="banner-container" class="parallax-container">
  <span id="banner-layer"></span>
  <div id="banner-container" class="valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <img id="header-img" src="assets/images/Group75.png">
          <p class="white-text big-text">No Talk <br>all action</p>
          <p class="white-text big-text">9, 10 y 11 de Nobiembre</p>
          <a target="_blank" rel="noopener noreferrer" href="https://bit.ly/swcbba18" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">
            {{'BANNER.BUY_TICKETS' | translate}}</a>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img id="banner-image" src="assets/images/Image2.png"></div>
</div>