<div id="banner-container" class="parallax-container">
  <span id="banner-layer"></span>
  <div id="banner-container" class="valign-wrapper">
    <div class="container valign">
      <div class="row">
        <div class="col s12">
          <img id="header-img" class="right" src="assets/images/Group75.png">
          <p class="white-text big-text">No Talk<br><span id="all-action">all action</span></p>
          <p class="right-align white-text big-text">9, 10 y 11 de Noviembre</p>
          <div id="action-button-container">
            <a target="_blank" rel="noopener noreferrer" href="https://bit.ly/swcbba18" id="action-button" class="btn-large waves-effect white">
              {{'BANNER.BUY_TICKETS' | translate}}</a>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img id="banner-image" src="assets/images/Image2.png"></div>
</div>