<div class="parallax-container full-screen">
  <sw-color-layer></sw-color-layer>
  <div class="valign-wrapper over-layer">
    <div class="container valign">
      <div class="row">
        <div class="col s12">
          <img id="header-img" class="right" src="assets/images/Group75.png">
          <p class="white-text medium-text">{{'BANNER.NO_TALK' | translate}}<br><span class="main-color highlight">{{'BANNER.ALL_ACTION'
              | translate}}</span></p>
          <p class="right-align white-text medium-text">{{'BANNER.DAYS' | translate}}<br><small class="small-text">{{'BANNER.MONTH'
              | translate}}</small></p>
          <div id="action-button-container">
            <a target="_blank" rel="noopener noreferrer" href="https://bit.ly/swcbba18" id="action-button" class="btn-large waves-effect white">
              {{'BANNER.BUY_TICKETS' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><img id="banner-image" src="assets/images/Image2.png"></div>
</div>