#banner-container {
  height: calc(100vh - 56px);

  @media only screen and (min-width: 601px) {
    height: calc(100vh - 64px);
  }
}

#banner-layer {
  background-color: rgba(95, 0, 237, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

#banner-container {
  position: relative;
  z-index: 1;
}

#all-action {
  padding: 5px;
  color: #5f00ed;
  background-color: white;
}

#action-button-container {
  text-align: center;

  @media only screen and (min-width: 601px) {
    text-align: right;
  }
}

#action-button {
  color: #5f00ed;
  font-weight: 700;
  font-size: 20px;
}

#header-img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 40px;
}

#banner-image {
  @media only screen and (max-width: 601px) {
    left: 0;
  }
}

.big-text {
  font-weight: 700;
  font-size: 50px;
}
