<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">{{ 'HEADER.TITLE' | translate}}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ 'HEADER.POWER_BY' | translate}}</h5>
      </div>
      <div class="row center">
        <a href="" id="download-button" class="btn-large waves-effect waves-light teal lighten-1"> {{ 'HEADER.BUY_TICKETS' | translate}}</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="assets/images/parallax1.jpg"></div>
</div>