<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#about" class="brand-logo"><img src="assets/images/Group23.svg" width="30px" height="42px"
          alt=""></a>
      <a data-target="nav-mobile" class="sidenav-trigger main-color"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="main-color" href="#banner">{{'HEADER.HOME' | translate}}</a></li>
        <li><a class="main-color" href="#about">{{'HEADER.ABOUT' | translate}}</a></li>
        <li><a class="main-color" href="#facilitator">{{'HEADER.FACILITATOR' | translate}}</a></li>
        <li><a class="main-color" href="#map">{{'HEADER.MAP' | translate}}</a></li>
        <li><a class="main-color" href="#partners">{{'HEADER.PARTNERS' | translate}}</a></li>
        <li><a class="main-color" routerLink="/login">{{'LOGIN.SIGNIN' | translate}}</a></li>
        <li>
          <sw-language-button></sw-language-button>
        </li>
      </ul>
      <sw-language-button class="language-mobile-align"></sw-language-button>
    </div>
  </nav>
</div>

<ul id="nav-mobile" class="sidenav">
  <li><a href="#banner" class="sidenav-close main-color">{{'HEADER.HOME' | translate}}</a></li>
  <li><a href="#about" class="sidenav-close main-color">{{'HEADER.ABOUT' | translate}}</a></li>
  <li><a href="#facilitator" class="sidenav-close main-color">{{'HEADER.FACILITATOR' | translate}}</a></li>
  <li><a href="#map" class="sidenav-close main-color">{{'HEADER.MAP' | translate}}</a></li>
  <li><a href="#partners" class="sidenav-close main-color">{{'HEADER.PARTNERS' | translate}}</a></li>
  <li><a (click)="accessApp()" class="sidenav-close main-color">{{'LOGIN.SIGNIN' | translate}}</a></li>
</ul>