<div *ngIf="!isFinishDate" class="hide-on-small-only">
  <div class="row container">
    <div class="col s12 center-align">
      <h2 class="text-bold"> Estadisticas </h2>
    </div>
  </div>
  <div class="row container">
    <div class="col s3">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/images/participant-4.png" alt="" class="circle responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p> Participantes </p>
            <h5> 23</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/images/teacher-3.jpg" alt="" class="circle responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p> Expositores </p>
            <h5> 23</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/images/sponsor-2.jpg" alt="" class="circle responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p> Patrocinadores </p>
            <h5> 23</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3">
      <div class="card horizontal">
        <div class="card-image">
          <img src="assets/images/volunter-2.png" alt="" class="circle responsive-img">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p> Voluntarios </p>
            <h5> 23</h5>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>