<div>
  <div class="row container">
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal card-participants">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.PARTICIPANTS' | translate}} </p>
            <h5 class="text-description"> 23</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal card-teachers">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.SPEAKERS' | translate}} </p>
            <h5 class="text-description"> 23</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal card-sponsors">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.SPONSORS' | translate}} </p>
            <h5 class="text-description"> 23</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal card-volunters">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.VOLUNTEERS' | translate}} </p>
            <h5 class="text-description"> 23</h5>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>