<div>
  <div class="row container">
    <p class="medium-text main-color"> {{'STATS.TITLE' | translate}} </p>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.VERSIONS' | translate}} </p>
            <h5 class="text-description"> 7</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.PARTICIPANTS' | translate}} </p>
            <h5 class="text-description"> +500</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.PROJECTS' | translate}} </p>
            <h5 class="text-description"> +120</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6 xl3">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p class="text-title"> {{'STATS.IDEAS' | translate}} </p>
            <h5 class="text-description"> +200</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>