#facilitator-profile label,
#facilitator-profile span {
  display: block;
  white-space: nowrap;
}

#facilitator-picture {
  max-width: 200px;
  height: auto;
}

.facilitator-abstract {
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
}

.facilitator-description {
  min-height: 200px;
}
