<div class="container">
  <p class="medium-text main-color center-align">{{'FACILITATOR.TITLE' | translate}}</p>
  <div id="facilitator-profile" class="row">
    <div class="col l4 center-align facilitator-abstract">
      <img id="facilitator-picture" src="assets/images/gonzalomena.jpeg" alt="" class="circle">
      <span class="small-text">{{'FACILITATOR.NAME' | translate}}</span>
      <label>{{'FACILITATOR.CITY' | translate}}</label>
    </div>
    <div class="col l8 valign-wrapper facilitator-description black-text">
      <p>{{'FACILITATOR.JOB' | translate}}<br>{{'FACILITATOR.SPECIALTY' | translate}}<br>{{'FACILITATOR.DESCRIPTION' |
        translate}}</p>
    </div>
  </div>
</div>