<sw-header></sw-header>
<sw-banner id="banner" class="section scrollspy"></sw-banner>
<sw-countdown [date]="eventDate"></sw-countdown>
<sw-about id="about" class="section scrollspy"></sw-about>
<sw-stats id="stats" class="section scrollspy"></sw-stats>
<sw-participants id="participants" class="section scrollspy"></sw-participants>
<sw-profiles id="profiles" class="section scrollspy"></sw-profiles>
<sw-location id="map" class="section scrollspy"></sw-location>
<sw-partners></sw-partners>
<sw-footer></sw-footer>