.tabs {
  background-color: #5f00ed;
}

.tabs .tab a {
  color: white;
}

.tabs .tab a:focus.active {
  color: white;
  background-color: #5f00ed;
}

#wednesday, #friday, #saturday, #sunday {
  padding-top: 2%;
}