<header><sw-app-menu></sw-app-menu></header>
<main>
  <div class="valign-wrapper after-container">
    <div class="container center">
      <div class="row">
        <p class="bold main-color title">{{'AFTER.TITLE' | translate}}</p>
      </div>
      <br />
      <br />
      <div class="row">
        <img class="after-logo" src="assets/images/casareal.png" alt="" />
      </div>
      <br />
      <br />
      <div class="row hashtags">
        <p class="bold">#TragoEmblema</p>
        <p class="bold">#CasaReal</p>
      </div>
    </div>
  </div>
</main>
