<header>
  <sw-app-menu></sw-app-menu>
</header>
<main>
  <div class="container">
    <div class="row">
      <form #changePasswordForm="ngForm" class="col s10 offset-s1 m6 offset-m3 l4 offset-l4" novalidate>
        <div class="row" *ngIf="auth.displayError">
          <p class="error-message">{{'LOGIN.ERROR' | translate}}</p>
        </div>
        <div class="row" *ngIf="auth.passwordChanged">
          <p class="success-message">{{'LOGIN.ERROR' | translate}}</p>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="current-password" type="password" name="current-password" [(ngModel)]="currentPassword" required>
            <label for="current-password">Current password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="new-password" type="password" name="new-password" [(ngModel)]="newPassword" required>
            <label for="new-password">New password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="repeat-new-password" type="password" name="repeat-new-password" [(ngModel)]="repeatNewPassword"
              required>
            <label for="repeat-new-password">Repeat new password</label>
          </div>
        </div>
        <div class="row right">
          <button class="waves-effect waves-light btn" [disabled]="changePasswordForm.invalid" (click)="changePassword()">Cambiar
            contraseña</button>
        </div>
      </form>
    </div>
  </div>
</main>