<header>
  <sw-app-menu></sw-app-menu>
</header>
<main>
  <div class="container">
    <div class="row">
      <form #changePasswordForm="ngForm" class="col s10 offset-s1 m6 offset-m3 l4 offset-l4" novalidate>
        <div class="row">
          <p class="bold white-text">{{'CHANGE_PASSWORD.MIN_LENGTH' | translate}}</p>
        </div>
        <div class="row" *ngIf="auth.displayChangePassword">
          <p class="error-message">{{'CHANGE_PASSWORD.FORCE_CHANGE' | translate}}</p>
        </div>
        <div class="row" *ngIf="auth.displayError">
          <p class="error-message">{{'CHANGE_PASSWORD.ERROR' | translate}}</p>
        </div>
        <div class="row" *ngIf="auth.passwordChanged">
          <p class="success-message">{{'CHANGE_PASSWORD.SUCCESS' | translate}}</p>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="current-password" type="password" pattern=".{6,}" name="current-password" [(ngModel)]="currentPassword" required>
            <label for="current-password">{{'CHANGE_PASSWORD.CURRENT' | translate}}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="new-password" type="password" pattern=".{6,}" name="new-password" [(ngModel)]="newPassword" required>
            <label for="new-password">{{'CHANGE_PASSWORD.NEW' | translate}}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="repeat-new-password" type="password" pattern=".{6,}" name="repeat-new-password" [(ngModel)]="confirmNewPassword"
              required>
            <label for="repeat-new-password">{{'CHANGE_PASSWORD.CONFIRM_NEW' | translate}}</label>
          </div>
        </div>
        <div class="row right">
          <button class="waves-effect waves-light btn" [disabled]="changePasswordForm.invalid" (click)="changePassword()">{{'CHANGE_PASSWORD.CHANGE'
            | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</main>

<sw-spinner-loader *ngIf="auth.loading"></sw-spinner-loader>