<div style="height: 600px">
  <x-map #xmap [Options]="mapOptions" [Box]="_box">
    <x-map-marker 
      [Latitude]="-17.41809191207568" 
      [Longitude]="-66.12963527113635"
      [Title]="'Campo Ferial'"
      [IconInfo]="iconInfo">
        <x-info-box
          [DisableAutoPan]="true"
          [Title]="'Dirección'"
          [Description]="'Cto Bolivia, Cochabamba'">
            <x-info-box-action [Label]="'Click Me'" (ActionClicked)="_click()"></x-info-box-action>
        </x-info-box>
    </x-map-marker>
  </x-map>
</div>  