/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  cursor: pointer;
}

.full-screen {
  height: calc(100vh - 56px);
  min-height: 510px;

  @media only screen and (min-width: 601px) {
    height: calc(100vh - 64px);
  }
}

.main-color {
  color: #5f00ed !important;
}

.highlight {
  padding: 5px;
  background-color: white;
}

.over-layer {
  height: 100%;
  position: relative;
  z-index: 1;
}

.big-text {
  font-weight: 700;
  font-size: 60px;

  @media only screen and (max-width: 601px),
    only screen and (max-height: 800px) {
    font-size: 50px;
  }

  @media only screen and (max-width: 400px),
    only screen and (max-height: 640px) {
    font-size: 45px;
  }
}

.medium-text {
  font-weight: 700;
  font-size: 40px;

  @media only screen and (max-width: 601px),
    only screen and (max-height: 800px) {
    font-size: 30px;
  }

  @media only screen and (max-width: 400px),
    only screen and (max-height: 640px) {
    font-size: 25px;
  }
}

.small-text {
  font-weight: 700;
  font-size: 30px;

  @media only screen and (max-width: 601px),
    only screen and (max-height: 800px) {
    font-size: 20px;
  }

  @media only screen and (max-width: 400px),
    only screen and (max-height: 640px) {
    font-size: 15px;
  }
}

.text-bold {
  font-weight: bold;
}
