<div class="parallax-container full-screen">
  <sw-color-layer></sw-color-layer>
  <div class="valign-wrapper over-layer">
    <div class="container valign center-align">
      <p class="highlight medium-text main-color">{{'PARTICIPANTS.TITLE' | translate}}</p>
      <p class="small-text white-text">{{'PARTICIPANTS.SUBTITLE' | translate}}:</p>
      <div class="row small-text main-color">
        <div class="col s6 offset-s3 m4 offset-m2 highlight">{{'PARTICIPANTS.ENTREPRENEUR' | translate}}</div>
        <div class="col s6 offset-s3 m4 offset-m2 highlight">{{'PARTICIPANTS.STUDENT' | translate}}</div>
        <div class="col s6 offset-s3 m4 highlight">{{'PARTICIPANTS.DEVELOPER' | translate}}</div>
        <div class="col s6 offset-s3 m4 offset-m2 highlight">{{'PARTICIPANTS.DESIGNER' | translate}}</div>
        <div class="col s6 offset-s3 m4 offset-m2 highlight">{{'PARTICIPANTS.FINANCE' | translate}}</div>
        <div class="col s6 offset-s3 m4 offset-m2 highlight">{{'PARTICIPANTS.MARKETING' | translate}}</div>
      </div>
      <a target="_blank" rel="noopener noreferrer" href="https://bit.ly/swcbba18" class="btn-large waves-effect cta-color main-color small-text">
        {{'BANNER.BUY_TICKETS' | translate}}</a>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/Image5.jpg"></div>
</div>