<sw-header></sw-header>
<sw-banner id="banner" class="section scrollspy"></sw-banner>
<sw-countdown [date]="eventDate"></sw-countdown>
<sw-about id="about" class="section scrollspy"></sw-about>
<sw-stats></sw-stats>
<sw-participants></sw-participants>
<sw-facilitator-profile id="facilitator" class="section scrollspy"></sw-facilitator-profile>
<sw-location id="map" class="section scrollspy"></sw-location>
<sw-partners id="partners" class="section scrollspy"></sw-partners>
<sw-sponsors></sw-sponsors>
<sw-footer></sw-footer>
<sw-spinner-loader *ngIf="auth.loading"></sw-spinner-loader>