<header>
  <sw-app-menu></sw-app-menu>
</header>
<main>
  <div class="container">
    <div class="row white-text">
      <div>
        <p class="bold col s3 m5 right-align">Nombre:</p>
        <p class="col s9 m7">Mauricio Arce Torrez</p>
      </div>
      <div>
        <p class="bold col s3 m5 right-align">Correo:</p>
        <p class="col s9 m7">mauricio.arce.mat@gmail.com</p>
      </div>
      <div>
        <p class="bold col s3 m5 right-align">Celular:</p>
        <p class="col s9 m7">77996059</p>
      </div>
      <div>
        <p class="bold col s3 m5 right-align">Perfil:</p>
        <p class="col s9 m7">Desarrollador de software</p>
      </div>
      <div class="col s12 center-align" style="position: relative; bottom: 0px;">
        <a class="btn" routerLink="/account/change-password">Cambiar contraseña</a>
      </div>
    </div>
  </div>
</main>