.separator {
  margin-top: 50px;
}

.separator-description {
  margin-top: 30px;
}

.qrcode {
  margin: 20px;
}

.center-position {
  display: table;
  margin: 0 auto;
  float: none !important;
}

.text-note {
  line-break: auto;
  font-weight: bold;
}

.width-fixed {
  max-width: 80% !important;
}
